# See http://help.github.com/ignore-files/ for more about ignoring files.

# generated tests
/test/common-tests

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
*errors.txt

# e2e
/e2e/*.js
/e2e/*.map

# terraform
terraform/.terraform
terraform/*.tfstate*
terraform/*.tfvars

#System Files
.DS_Store
Thumbs.db
